<div class="field">
<div class="name">Логотип</div>
<div class="value no-shift">

<script type="text/javascript" src="{$wa_app_static_url}plugins/logocategory/js/ajaxupload.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/logocategory/js/script.js"></script>

<div id="preview">
{if $category.image}
<img src="{$wa_url}wa-data/public/shop/plugins/logocategory/images/{$category.image}" />
{/if}
</div>

<a id="uploadButton" href="javascript:void(0);"><i  class="icon16 add" title="Загрузить"></i></a>


<a id="deleteButton" {if !$category.image}style="display:none;"{/if} href="javascript:void(0);"><i class="icon16 delete" title="Удалить"></i></a>



<div id="response"></div>
<input type="hidden" name="category_id" value="{$category.id}" />

</div>
</div>